Repository kreuzwerker/terraform-provider-docker, pull requests merged in 2020-12, with the labels that each got.

#33 doc: devices is a block, not a boolean
  website/docs/r/container.html.markdown
Labels: documentation

#99 feat: add local semantic commit validation
  CONTRIBUTING.md
  GNUmakefile
  README.md
Labels: enhancement

#104 feat: add force_remove option to r/image
  docker/resource_docker_image.go
  docker/resource_docker_image_funcs.go
  docker/resource_docker_image_test.go
  website/docs/r/image.html.markdown
Labels: enhancement, r/image

#105 docs: add labels to arguments of docker_service
  website/docs/r/service.html.markdown
Labels: documentation, r/service
