Repository kreuzwerker/terraform-provider-docker, pull requests merged in 2021-01, with the labels that each got.

#112 feat: support max replicas of Docker Service Task Spec
  docker/resource_docker_service.go
  docker/resource_docker_service_funcs.go
  docker/resource_docker_service_test.go
  docker/structures_service.go
  website/docs/r/service.html.markdown
Labels: enhancement, r/service

#117 fix: set "latest" tag when tag isn't specified
  docker/resource_docker_image_funcs.go
Labels: bug, r/image, r/registry_image

#35 feat: support Docker plugin
  docker/data_source_docker_plugin.go
  docker/data_source_docker_plugin_test.go
  docker/provider.go
  docker/resource_docker_container.go
  docker/resource_docker_container_v1.go
  docker/resource_docker_plugin.go
  docker/resource_docker_plugin_funcs.go
  docker/resource_docker_plugin_test.go
  docker/resource_docker_service.go
  go.mod
  website/docs/d/plugin.html.markdown
  website/docs/r/image.html.markdown
  website/docs/r/plugin.html.markdown
Labels: d/plugin, enhancement, r/plugin

#124 docker container added properties -it (tty and stdin_opn), fixed #120
  docker/resource_docker_container.go
  docker/resource_docker_container_funcs.go
  docker/resource_docker_container_test.go
  scripts/testing/setup_private_registry.bat
  website/docs/r/container.html.markdown
Labels: enhancement, r/container
